@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --hue: 0;
  --sat: 0%;
  --lig: 94.9%;
  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;
  --royalBlue: #636af2;
  --periwinkle: #b4b7f2;
  --salmonPink: #f2785c;
  --watermelonRed: #f25d5c;
  --IntenseRed: #ff1744;

  /*========== Font and typography ==========*/
  --body-font: "Lexend Deca", sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.5;
  margin: 40px auto 0px;
  transition: background-color 0.3s, color 0.3s;
}

.mobile {
  display: block;
}

header {
  padding: 20px;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 600;
}

h2 {
  text-align: center;
}

main {
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== PROFILE ===============*/

.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__perfil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.profile__border {
  border: 3.5px solid var(--watermelonRed);
  justify-self: center;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile_name {
  font-size: var(--h2-font-size);
}

.profile__profession {
  font-size: var(--smaller-font-size);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.profile__info {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profile__info-group {
  text-align: center;
}

.profile__info-number {
  font-size: var(--normal-font-size);
  margin-bottom: 0.25rem;
}

.profile__info-description {
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

/*=============== PROFILE BUTTON ===============*/

.profile__button {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn {
  width: 100%;
  text-decoration: none;
  /* background-color: var(--text-color-lighten);
  color: var(--title-color); */
  background-color: var(--royalBlue);
  color: var(--container-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  padding: 0.75rem;
  border-radius: 0.75rem;
  transition: 0.3s;
  cursor: pointer;
}

.bmail:hover {
  background-color: var(--periwinkle);
  color: var(--container-color);
}

.emailcopied {
  background-color: var(--periwinkle);
  color: var(--container-color);
}

.btn_menu {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-decoration: none;
  padding: 0.2rem 0;
  cursor: pointer;
  transition: transform 0.7s ease;
}

.btn_menu:hover {
  transform: rotate(360deg) scale(1.25);
}

.follow {
  background-color: var(--salmonPink);
}

.follow:hover {
  background-color: var(--watermelonRed);
}

.unfollow {
  background-color: var(--watermelonRed);
  color: var(--container-color);
}

/*=============== Notification ===============*/

.notification {
  display: none;
  background-color: var(--BrightYellow);
  color: var(--container-color);
  border-radius: 0.75rem;
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--text-color-lighten);
  color: var(--title-color);
  padding: 0.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), 0.25);
  text-decoration: none;
}

.button p,
i {
  font-size: var(--h3-font-size);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__small {
  padding: 0.75rem;
  box-shadow: none;
}

.button__gray {
  background-color: var(--text-color-lighten);
  color: var(--title-color);
}

.button__gray:hover {
  background-color: var(--text-color-light);
}

/*=============== FILTERS TABS ===============*/
.filters__content {
  margin: 2rem 0 2rem;
  background-color: var(--royalBlue);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filters__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.75rem;
  color: var(--container-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: 0.55rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}

.filters__button:hover {
  background-color: var(--periwinkle);
  color: var(--container-color);
}

.filters__content {
  width: 100%;
}

.containertab {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#content_b {
  display: none;
}

#content_c {
  display: none;
}

/*=============== PROJECT ===============*/

/* .project {
  background-color: var(--body-color);
} */

.gallery-image {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4rem;
}

.gallery-image img {
  height: 125px;
  width: 125px;
  transform: scale(1);
  transition: transform 0.4s ease;
  object-fit: cover;
  object-position: center;
}

.img-box {
  box-sizing: content-box;
  height: 125px;
  width: 125px;
  overflow: hidden;
  display: inline-block;
  color: var(--container-color);
  position: relative;
  background-color: var(--text-color-lighten);
  border-radius: 0.75rem;
  /* border: 3.5px solid var(--title-color); */
}

.caption {
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 7px;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.caption a {
  text-decoration: none;
  color: var(--container-color);
}

.transparent-box {
  height: 125px;
  width: 125px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
  border-radius: 0.75rem;
}

.img-box:hover img {
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 10px;
}

.opacity-low {
  opacity: 0.5;
}

/*=============== POPUP ===============*/

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  font-size: 1.75rem;
  top: 1rem;
  right: 1.5rem;
  text-decoration: none;
  color: var(--title-color);
  font-weight: bold;
}

.close:hover {
  color: var(--IntenseRed);
}

.post {
  display: flex;
  align-items: flex-start;
  background-color: var(--body-color);
  border-radius: 0.75rem;
  position: relative;
  max-width: 490px;
  padding: 20px;
}

.user-avatar {
  border-radius: 100px;
  width: 48px;
  flex-shrink: 0;
  margin-right: 15px;
}

.post-user-info {
  display: flex;
  margin-bottom: 0.5rem;
}

.post-user-info h3 {
  margin-right: 0.5rem;
  font-size: var(--small-font-size);
}

.post-user-info span {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.post-text {
  font-size: var(--small-font-size);
  margin-bottom: 1rem;
  color: var(--title-color);
  text-align: justify;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post-img {
  max-width: 100%;
  height: 15.625rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.post-img img {
  width: 22.938rem;
  height: auto;
  transform: none !important;
}

.post-icons a {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: 0.4rem;
  text-decoration: none;
}

.post-icons a:hover {
  color: var(--IntenseRed);
}

/*=============== SKILLS ===============*/

.skills__content {
  padding-bottom: 20px;
  row-gap: 3rem;
}

.skills__box {
  display: flex;
  justify-content: center;
}

.skills__group {
  display: flex;
  align-content: flex-start;
  column-gap: 1.5rem;
}

.skills__data {
  display: flex;
}

.skill__img {
  border-radius: 0.75rem;
  width: 48px;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open .skills__list {
  height: max-content;
}

.skillimg {
  border-radius: 100px;
}

/*=============== MUSIC PLAYER ===============*/

.music-player {
  margin-left: 50px;
  margin-top: 10px;
  background-color: var(--text-color-lighten);
  border-radius: 0.75rem;
  padding: 10px;
}

.box-player {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.box-player figure.albumn-cover {
  width: 5.5rem;
  height: 5.5rem;
}

.box-player figure.albumn-cover img {
  border-radius: 0.75rem;
  max-width: 100%;
  max-height: 100%;
}

.track-name {
  padding: 0.75rem;
  line-height: 1.5rem;
}

.track-name a {
  color: var(--title-color);
  text-decoration: none;
}

.track-name a:hover {
  text-decoration: underline;
}

.track-name h1 {
  font-size: var(--small-font-size);
  font-weight: 600;
}

.track-name h2 {
  font-size: var(--smaller-font-size);
  font-weight: 300;
  color: var(--title-color);
  text-align: left;
}

.track-name h2 a {
  color: var(--title-color);
}

.track-name h2 a:hover {
  color: var(--periwinkle);
}

.controls {
  color: var(--title-color);
}

.controls a {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  padding: 0 0.75rem;
  cursor: pointer;
}

.controls a:hover {
  color: var(--periwinkle);
}

/*=============== FEEDS ===============*/

.avator {
  width: 36px;
  margin-right: 15px;
}

.feeds-wrap {
  max-width: 490px;
  padding: 10px 5px;
}

.feeds-header {
  display: flex;
  align-items: flex-start;
  font-size: var(--small-font-size);
}

.feeds-header-info {
  font-weight: bold;
  color: var(--title-color);
}

.feeds-header-info span {
  color: var(--title-color);
  font-weight: normal;
  margin-left: 5px;
}

.feeds-header-info p {
  font-weight: normal;
  margin-top: 5px;
}

.feeds-img-wrap {
  padding-left: 60px;
}

.feeds-info-counts {
  margin-left: 50px;
  margin-top: 10px;
}

.feeds-button a {
  font-size: 1.5rem;
  /* color: var(--title-color); */
  margin-right: 0.4rem;
  text-decoration: none;
  cursor: pointer;
}

.feeds-button a:hover {
  color: var(--IntenseRed);
}

.feedsnormal {
  color: var(--title-color); /* Awalnya tombol hitam */
}

.heart-filled {
  color: var(--IntenseRed); /* Ganti warna sesuai keinginan Anda */
}

/*=============== FOOTER ===============*/

footer {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
  padding: 20px;
  width: 100%;
}

.footerspace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
}

.footerleft,
.footerright {
  margin: 0;
}

/*=============== SCROLLBAR ===============*/

.highlight::-webkit-scrollbar {
  height: 0.6rem;
  background-color: var(--text-color-lighten);
}

.highlight::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 54%);
}

.highlight::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--hue), 8%, 44%);
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(var(--hue), 8%, 66%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--hue), 8%, 54%);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0.5rem;
  background-color: hsl(var(--hue), 8%, 44%);
}

/*=============== Slider ===============*/

.slider {
  display: flex;
  overflow: hidden;
  width: 360px;
  padding: 20px 0;
  margin-left: 50px;
}

.card {
  flex: 0 0 100%;
  transition: transform 0.5s;
  padding: 20px;
  border-radius: 0.75rem;
  background-color: var(--text-color-lighten);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card img {
  height: 125px;
  width: 125px;
}

.card p {
  padding: 10px;
  margin: 0;
  font-weight: normal;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.slider-button {
  /* padding: 20px 0; */
  margin-left: 50px;
  cursor: pointer;
  display: flex;
  gap: 20px;
}

.sbutton {
  width: 100%;
  text-decoration: none;
  background-color: var(--text-color-lighten);
  color: var(--text-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  padding: 0.75rem;
  border-radius: 0.75rem;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.sbutton:hover {
  background-color: var(--periwinkle);
  color: var(--container-color);
}

/*=============== Dark Mode Styles ===============*/

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode {
  h1,
  h2,
  h3,
  p,
  span,
  i {
    color: #fff;
  }

  .profile__border {
    border-color: #fff;
  }

  .btn {
    background-color: #fff;
    color: #333;
  }

  .btn_menu {
    color: #fff;
  }

  .bmail:hover {
    background-color: #666;
    color: #fff;
  }

  .emailcopied {
    background-color: #666;
    color: #fff;
  }

  .filters__content {
    background-color: #fff;
  }

  .filters__button {
    color: #333;
  }

  .feeds-header-info {
    color: #fff;
  }

  .filters__button:hover {
    background-color: #666;
    color: #fff;
  }

  .avator {
    background-color: #fff;
    border-radius: 50px;
  }

  .post-text {
    color: #333;
  }

  .post-user-info h3,
  span {
    color: #333;
  }

  .post-icons i {
    color: #333;
  }

  .card {
    background-color: #fff;
  }

  .card p {
    color: #333;
  }

  .sbutton {
    background-color: #444;
  }

  .sbutton:hover {
    background-color: #666;
  }

  .follow {
    background-color: #444;
    color: #fff;
  }

  .follow:hover {
    background-color: #666;
    color: #fff;
  }

  .unfollow {
    background-color: #444;
    color: #fff;
  }

  .music-player {
    background-color: #fff;
  }

  .track-name h2 {
    color: #333;
  }

  .track-name h2 a:hover {
    color: #666;
  }

  .play-button i {
    color: #333;
  }

  .play-button i:hover {
    color: #666;
  }
}

/*=============== RESPON ===============*/

@media screen and (min-width: 700px) {
  .box {
    width: 70%;
  }
  .mobile {
    width: 460px;
  }
}

@media screen and (max-width: 430px) {
  .feeds-header img {
    margin-bottom: 20px;
  }
  .feeds-img-wrap {
    padding-left: 0;
  }
  .feeds-info-counts {
    display: flex;
  }
  .feeds-info-counts div {
    margin-right: 10px;
  }

  .post-img {
    overflow-y: hidden;
  }

  .post-content {
    height: 22rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .slider {
    width: 218px;
  }
}
